@import url("palette.css");
* {
    font-family: var(--fonts);
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.welcome {
  width: 100%;
  height: 100%;
  background-image: url(/images/homepage.png);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

#navbar {
  background-color: rgba(0, 0, 0, 0);
}

#explore {
    position: relative;
    left: 8.5%;
    top: 13%;
    max-width: 25%;
    height: 45%;
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--white-color);
    border: 0.5em solid var(--blue-color);
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title title" "where where" "checkin checkout" "guests search";
}

@media (max-width: 90em) {
    #explore {
        min-width: 20em;
    }
}

@media (max-height: 50em) {
    #explore {
        min-height: 20em;
    }
}

#explore * {
    max-height: 60%;
}

#explore p {
    margin: 0 0 1em 0;
}

#explore>h3 {
    margin: 0;
    font-weight: 100;
    grid-area: title;
    font-size: 2em;
}

#explore>#whereto {
    grid-area: where;
}

#explore>#whereto * {
    width: 95%;
}

#explore>#checkin {
    grid-area: checkin;
}

#explore>#checkout {
    grid-area: checkout;
}

#explore>#checkin *,
#explore>#checkout * {
    width: 90%;
    height: 30%;
    position: relative;
    bottom: 1em;
}

#explore>#guests {
    grid-area: guests;
    position: relative;
    bottom: 1em;
}

#explore>#guests * {
    width: 90%;
}

#explore>#guests input {
    height: 50%;
}

#explore>#search {
    grid-area: search;
}

#explore>#search {
    position: relative;
    left: 40%;
    top: 22%;
    height: 33%;
    width: 50%;
    background-color: var(--pink-color);
    border: 0.2em solid var(--blue-color);
    color: var(--white-color);
}

#logged,
#modalLogin,
#modalSignup{
    display: none;
}

#account {
    margin-top: 20px;
    float: right;
    font-size: 2em;
}

#account a {
    color: var(--white-color);
    text-decoration: none;
    padding: 0 1em;
}

#account a:first-child {
    border-right: 2px solid var(--white-color);
    padding-left: 0;
}


.explore {
  width: 100%;
  height: 50%;
  position: relative;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

.explore > div {
  width: 100%;
  height: 70%;
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
      "north center south islands";
  grid-template-rows: auto;
  padding-left: 5em;
  padding-top: 2em;
}

.explore > div > a {
  height: 80%;
  width: 80%;
  position: relative;
}

.explore > p {
  height: 20%;
  padding: 1.5em 0em 1.5em 4em;
  grid-area: exp;
  font-size: 2em;
  
}

.explore > div > #north {
  grid-area: north;
}

.explore > div > #center {
  grid-area: center;
}

.explore > div > #south {
  grid-area: south;
}

.explore > div > #islands {
  grid-area: islands;
}

.explore > div > a > .landscape {
  height: 80%;
  width: 100%;
  position: absolute;
}

.explore > div > a > p {
  height: 20%;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0em;
  text-decoration: none;
  background-color: var(--pink-color);
  color: var(--white-color);
  font-size: 1.5em;
  border-bottom-left-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
  border-top: 0.05em solid var(--blue-color);
  overflow: hidden;
  line-height: 1.8em;
}

.explore > div > a > .landscape > img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  overflow: hidden;
}
.explore > div > a {
  border: 0.1em solid var(--blue-color);
  border-radius: 2em;
  overflow: hidden;
}

#modalLogin,
#modalSignup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#signup, #login {
  background-color: var(--white-color);
  border: 0.2em solid var(--blue-color);
  border-radius: 1em;
  padding: 2em 2em 0em 2em;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
  left: 30%;
  top: 20%;
  animation-name: animateUp;
  animation-duration: 1s;
}

@keyframes animateUp {
  from { opacity: 0}
  to {opacity: 1}
}

#signup {
  grid-template-areas: "title" "user" "email" "pass" "submit";
}

#login {
  grid-template-areas: "title" "email" "pass" "submit";
}

#signup > #signTitle, #login > #loginTitle {
  grid-area: title;
  font-size: 2em;
  width: 50%;
  margin-bottom: 1em;
  word-wrap: break-word;
}

#signup > div, #login > div {
  padding-bottom: 2em;
  width: 100%;
}

#signup > div > *, #login > div > * {
  position: relative;
  width: 100%;
}

#signup > div > p, #login > div > p {
  padding-bottom: 0.8em;
  font-size: 1.5em;
}

#signup > div > input, #login > div > input {
  height: 60%;
}

#signup > #username, #login > #username {
  grid-area: user;
}

#signup > #email, #login > #email {
  grid-area: email;
}

#signup > #password, #login > #password {
  grid-area: pass;
  padding-bottom: 3em;
}

#signup > #register, #login > #log {
  grid-area: submit;
  width: 100%;
  height: 6em;
}

#signup > #register > input, #login > #log > input {
  width: 40%;
  height: 100%;
  position: relative;
  float: right;
  background-color: var(--pink-color);
  border: 0.1em solid var(--blue-color);
  color: var(--white-color);
  font-size: 1.5em;
}