@import url("palette.css");
* {
    font-family: var(--fonts);
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

.bg {
    width: 100%;
    height: 100%;
    /* background-image: url(/images/homepage.png); */
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

#explore {
    position: relative;
    left: 8.5%;
    top: 13%;
    max-width: 25%;
    height: 45%;
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--white-color);
    border: 0.5em solid var(--blue-color);
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title title" "where where" "checkin checkout" "guests search";
}

@media (max-width: 90em) {
    #explore {
        min-width: 20em;
    }
}

@media (max-height: 50em) {
    #explore {
        min-height: 20em;
    }
}

#explore * {
    max-height: 60%;
}

#explore p {
    margin: 0 0 1em 0;
}

#explore>h3 {
    margin: 0;
    font-weight: 100;
    grid-area: title;
    font-size: 2em;
}

#explore>#whereto {
    grid-area: where;
}

#explore>#whereto * {
    width: 95%;
}

#explore>#checkin {
    grid-area: checkin;
}

#explore>#checkout {
    grid-area: checkout;
}

#explore>#checkin *,
#explore>#checkout * {
    width: 90%;
    height: 30%;
    position: relative;
    bottom: 1em;
}

#explore>#guests {
    grid-area: guests;
    position: relative;
    bottom: 1em;
}

#explore>#guests * {
    width: 90%;
}

#explore>#guests input {
    height: 50%;
}

#explore>#search {
    grid-area: search;
}

#explore>#search {
    position: relative;
    left: 40%;
    top: 22%;
    height: 33%;
    width: 50%;
    background-color: var(--pink-color);
    border: 0.3em solid var(--blue-color);
    color: var(--white-color);
}

#logged,
#login,
#signup {
    display: none;
}

#account {
    margin-top: 20px;
    float: right;
    font-size: 2em;
}

#account a {
    color: var(--white-color);
    text-decoration: none;
    padding: 0 1em;
}

#account a:first-child {
    border-right: 2px solid var(--white-color);
    padding-left: 0;
}