@import url("palette.css");
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* Slideshow container */

.slideshow-container {
    padding-top: 2em;
    position: relative;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}


/* Hide the images by default */

.mySlides {
    display: none;
    margin: 0 2em;
}

.mySlides img {
    width: 50vh;
    height: 50vh;
}

a {
    padding-top: 10em;
}

#prev {
    text-align: center;
}

#next {
    text-align: center;
}


/*  --------------------------Bottom ---------------------- */

#map {
    width: 50%;
    height: 200px;
    background-color: var(--grey-color);
    grid-area: map;
    margin: 2em 0em 2em 5em;
}

.bottom {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#left {
    width: 50%;
}

#right {
    width: 50%;
}

#top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.title h1 {
    font-weight: normal;
    font-size: 2em;
    color: var(--pink-color);
}

.title2 h2 {
    font-weight: normal;
    font-size: 1.5em;
    color: var(--grey-color);
}

.book h2 {
    color: var(--grey-color);
    font-weight: normal;
}

.book>h3 {
    font-size: 1.25em;
    font-weight: normal;
}

.book button {
    background-color: var(--pink-color);
    border-color: var(--blue-color);
    border-radius: 15px;
    border-width: 0.5px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1em;
}