@import url("palette.css");
#navbar {
    padding: 0.75em;
    background-color: var(--blue-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#logo {
    padding-right: 5em;
}

* {
    box-sizing: border-box;
}


/* Style the input container */

.input-container {
    display: flex;
    width: 35em;
    padding-left: 5em;
    margin-right: 20em;
    border-width: 0.5px;
    border-left-style: solid;
    border-color: var(--grey-color);
}


/* Style the form icons */

.material-icons {
    padding: 10px;
    background: var(--white-color);
    color: var(--pink-color);
    min-width: 50px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}


/* Style the input fields */

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1em;
    border-radius: 0px 10px 10px 0px;
}

.input-field:focus {
    border: none;
}

p {
    margin: 0;
}

#profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "login", "signin";
}

#profile:first-child {
    grid-area: login;
}

#profile:second-child {
    grid-area: signin;
}

#profile p {
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    font-size: 1.25em;
    border-width: 0.5px;
    border-left-style: solid;
    border-color: var(--grey-color);
    color: var(--white-color);
}

#profile img {
    border-radius: 100px;
    max-height: 2.5em;
    padding-right: 0em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--blue-color);
    text-align: center;
}

footer div {
    position: relative;
    margin-top: 2px;
}

footer * {
    color: var(--white-color);
    text-decoration: none;
}