@import url("palette.css");
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 82vh;
}

.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.profile-info {
    margin: 1em auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info .profile-image {
    margin: auto;
    margin-bottom: 2em;
    text-align: center;
}

.profile-info form {
    margin-bottom: auto;
}

.profile-info label {
    padding-top: 1em;
}

.profile-info input {
    width: 100%;
    padding: 6px 6px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
}

.profile-info input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0.15em solid var(--grey-color);
    border-radius: 1em;
    outline: none;
}

.profile-info input:focus {
    transition: 0.5s;
    border: 0.15em solid var(--blue-color);
}