@import url("palette.css");
.side-menu {
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 19%;
    min-height: 72.5vh;
}

.side-menu a {
    background-color: var(--pink-color);
    color: white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    border: 0.5px solid var(--white-color);
    padding: 2em;
    margin: 0;
}