@import url("palette.css");
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: normal;
    text-align: center;
    color: var(--pink-color);
}

.house_page {
    margin: auto;
}

.house {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--grey-color);
    margin: 1em 1em auto;
    padding: 1em;
    text-decoration: none;
    color: var(--black-color);
}

.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.img img {
    border-radius: 10px;
    display: block;
    height: auto;
    object-fit: contain;
}

.text p:nth-child(1) {
    text-align: center;
    font-size: 1.75em;
    color: var(--pink-color);
}

.text p:nth-child(2) {
    font-size: 1.15em;
    color: var(--grey-color);
    padding-bottom: 2em;
}

.addhouse {
    height: 12em;
    border-radius: 20px;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--grey-color);
    text-align: center;
    margin: 1em;
}

.addhouse a {
    text-decoration: none;
    font-size: 8em;
    color: var(--grey-color);
}

/* EDIT HOUSE PROFILE */

#editform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 1em auto;
    padding: 1em;
    text-decoration: none;
    color: var(--black-color);
}

#h_title {
    display: flex;
    flex-flow: row nowrap;   
}

#h_title input {
    flex: auto;
    width: 100%;
}
#h_location {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#h_capacity {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#h_description {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}