@import url("palette.css");

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

.side-menu {
    width: 10em;
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-menu a {
    width: 100%;
    background-color: var(--pink-color);
    color: white;
    text-decoration: none;
    text-align: center;
    border: 0.5px solid white;
    padding: 1em;
    margin: 0;
}

.profile-info {
    margin: auto;
    width: 35em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info .profile-image {
    margin: auto;
}

.profile-info label {
    padding-top: 1em;
}

.profile-info input {
    width: 100%;
    padding: 6px 6px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
}

.profile-info input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0.15em solid var(--grey-color);
    border-radius: 1em;
    transition: 0.5s;
    outline: none;
  }
  
.profile-info input:focus {
    border: 0.15em solid var(--blue-color);
}