@import url("palette.css");
.invisible {
    display: none;
}

.reservation {
    font-family: var(--fonts);
    padding: 1em 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: auto 20% auto 20%;
    width: 55%;
}

.reservation .box {
    padding: 0.5em 2em;
    border: 1px solid var(--grey-color);
    border-radius: 1em;
    width: 20%;
}

.box h1 {
    font-weight: normal;
    color: var(--pink-color);
    padding-bottom: 1em;
    border-bottom: 1px solid var(--grey-color);
    font-size: 1.25em;
}

#reservation-info p {
    padding: 0.25em 0.25em;
}

#reservation-info p:nth-child(3) {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--grey-color);
    font-weight: bold;
}

#regForm {
    width: 70%;
    padding: 1em;
    margin-left: 1em;
    border: 1px solid var(--grey-color);
    border-radius: 1em;
}

input {
    padding: 0.5em;
    width: 95%;
    font-size: 1em;
    border: 1px solid var(--grey-color);
    margin-bottom: 1em;
    border-radius: 10px;
}

input.invalid {
    background-color: #F4D1D5;
}

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--grey-color);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

#buttons button {
    padding: 0.75em 3em;
    background-color: var(--pink-color);
    border: 0.5px solid var(--blue-color);
    color: var(--white-color);
    border-radius: 10px;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: var(--blue-color);
}