ErrorDocument 401 http://gnomo.fe.up.pt/~up201707311/pages/http_error_page.php
ErrorDocument 404 http://gnomo.fe.up.pt/~up201707311/pages/http_error_page.php
ErrorDocument 500 http://gnomo.fe.up.pt/~up201707311/pages/http_error_page.php

php_value upload_max_filesize 20M
php_value post_max_size 22M